body {
  background-color: #eee;
}

.header {
  padding-left: 0;
  height: 1rem;
}

#dropdown-vendedores,
#dropdown-clientes,
#dropdown-tipo-venda {
  min-width: 120px;
  text-align: center;
}

.nav-link.dropdown-toggle.show {
  background-color: #dfdfdf;
  color: #000;
}

#dropdown-clientes:hover,
#dropdown-vendedores:hover,
#dropdown-tipo-venda:hover {
  background-color: #dfdfdf;
}

.dropdown-menu {
  width: 250px;
  max-height: 500px;
  transition: 0.15s;
}

.dropdown-menu.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dropdown-vendedores-area,
#dropdown-clientes-area,
#dropdown-alterar-tipo-venda-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#input-search-vendedores,
#input-search-clientes,
#input-search-tipo-venda {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #b1b7c1;
}

#input-search-vendedores:focus,
#input-search-clientes:focus,
#input-search-tipo-venda:focus {
  box-shadow: 0 0 0 0 transparent;
}

.vendedores,
.clientes,
.tiposVenda {
  cursor: pointer;
  text-align: center;
  margin-bottom: 0;
  padding: 0.5rem;
}

.vendedores:hover,
.clientes:hover,
.tiposVenda:hover {
  background-color: #00000015;
}

#main-container {
  width: 100%;
  max-width: 100vw;
  height: calc(100vh - 5rem);
  padding: 0;
}

#container-row {
  margin: 1rem;
  height: 100%;
}

#pesquisa-listagem-col {
  padding: 0;
}

#pesquisa-area {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  margin-left: 1rem;
  box-shadow: 0 0 5px #0002;
  border-radius: 5px;
}

#input-pesquisa-area {
  width: 25rem;
}

#input-pesquisa-area input {
  background-color: #eaeaea;
}

#input-pesquisa-area span {
  background-color: #eaeaea;
  color: #777;
  cursor: pointer;
}

#pesquisa-area button {
  color: #fff;
}

#listagem-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 5px #0002;
  border-radius: 5px;
  margin: 1rem 0 0 1rem;
  padding: 0 0 0 0.5rem;
  overflow: scroll;
  scrollbar-width: 0.5rem;
  scrollbar-color: #f0f;
  overflow-x: hidden;
  max-height: 60vh;
}

#listagem-area::-webkit-scrollbar {
  width: 10px;
}

#listagem-area::-webkit-scrollbar-track {
  background: #dfdfdf;
}

#listagem-area::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

table.table.table-striped {
  margin-bottom: 0;
}

table.table.table-striped > tbody > tr > .delete-icon {
  color: #e55353;
}

table.table.table-striped > tbody > tr > .delete-icon > i:hover {
  color: #e96d6d;
  cursor: pointer;
}

#corpo-tabela {
  margin-bottom: 0;
}

.linhasTabela:hover {
  background-color: #ddd;
}

.selecionado {
  background-color: #4c78e855;
}

.selecionado:hover {
  background-color: #4c78e878;
}

#informacao-compra-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 5px #0002;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.label-input {
  font-weight: 600;
}

.form-control.input-compra {
  border: 0;
  background-color: #00000015;
}

.form-control.input-compra:focus {
  box-shadow: 0 0 5px 3px rgba(76, 120, 232, 0.5);
}

.btn.btn-primary {
  width: 100%;
  background-color: rgba(76, 120, 232, 1);
  border: 0;
}

.btn.btn-primary:focus {
  box-shadow: 0 0 5px 3px rgba(76, 120, 232, 0.5);
}

#informacoes-valores-area {
  padding: 0 0.75rem;
}

.informacao-valores-area {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0.4rem;
  border-bottom: 1px solid #0007;
}

.informacao-valores-area:last-child {
  border: 0;
}

.informacao-valores {
  margin: 0;
}

.informacao-valores.descricao-valores.total {
  color: #f00;
  font-size: 1.5rem;
}

#butoes-funcoes-area {
  margin: 1rem 0 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.3rem;
}

.btn.btn-primary.botoes-funcoes {
  box-shadow: 0 0 5px #0002;
}

#modal-descontos {
  max-width: 60%;
}

.titulo-desconto {
  text-align: center;
}

.desconto-unitario-area,
.desconto-total-area {
  display: flex;
}

.descontos-area {
  display: flex;
  flex-direction: column;
  flex: 3;
  margin-right: 1rem;
}

.informacao-produto-desconto,
.informacao-produto-desconto-total {
  flex: 1;
}

.descontos,
.acrescimos {
  display: flex;
}

.porcentagem {
  margin-left: 0.35rem;
}

.dinheiro {
  margin-right: 0.35rem;
}

.input-descontos-area,
.input-acrescimos-area {
  display: flex;
  flex-direction: column;
}

.dinheiro {
  width: 50%;
}

.porcentagem {
  width: 25%;
}
